.formComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.formAndCloseLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}
// .popupComponent {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.actualForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}