@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

h1 {
  color: rgb(237, 164, 56);
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.task {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border: 0.5px solid grey;
  margin-bottom: 5px;
  height: 50px;
  align-items: center;
  height: 100px;
}



.taskId,
.taskName {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}


.taskName {
  flex: 2;
  font-weight: 700;
}

.tasksTitle {
  display: flex;
  justify-content: center;
}

.taskStatus {
  padding: 5px;
}

.deleteButton {
  padding: 5px;
}

.checkboxButton {
  display: flex;
  align-items: center;
}

.navbar {
  background: rgba(255, 181, 71, 0.502);
  border-bottom: 1px solid black;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
